In [55]:
import pandas as pd
import re
from unicodedata import normalize

In [48]:
base_path = "raw_tweets/"
query = "#lula"
tweets_df = pd.read_csv(base_path+query+".csv", header=None, sep=",")

In [49]:
def bytes2str(b):
    return eval(b)

def decodeString(txt):
    return txt.decode('utf-8')

def fixTweet(txt):
    txt = bytes2str(txt)
    txt = decodeString(txt)
    return remover_acentos(txt)

def remover_acentos(txt):
    return normalize('NFKD', txt).encode('ASCII','ignore').decode('ASCII')

In [50]:
tweets_df[1] = tweets_df[1].apply(fixTweet)

In [51]:
tweets_df.head()

                     0                                                  1
0  2018-05-24 18:26:29  RT @FalatuThiago: A L G U E M    M E    D A   ...
1  2018-05-24 18:26:28  RT @Rubro_Negrah: U L T I M A M E N T E \nM I ...
2  2018-05-24 18:25:20  RT @5Hilycc: E aquele ditado ne...\n\n   M U L...
3  2018-05-24 18:25:13  A   R E V O L U C A O   E   N O I A https://t....
4  2018-05-24 18:24:11       A L G U E M    M E    D A   U M    T I R O ?

In [53]:
tweets_df.to_csv("decoded_tweets/"+query+"_decoded.csv", sep=',', mode='a')

In [54]:
s = "A       B"

In [56]:
r = re.compile(r"^\s+", re.MULTILINE)

In [59]:
r.sub("", s) # "a\nb\nc"

'A       B'

In [ ]:
re.